@import "./variables";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  max-width: 1100px;
  padding: 15px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: left;
  padding-bottom: 10px;
  a {
    border-radius: 10px;
    padding: 5px 15px;
    margin: 2px 10px;
    font-size: 18px;
    color: #080cc5;
    background-color: $background-color;
    text-decoration: none;
    text-align: center;
    &:hover {
      opacity: 0.7;
    }
  }
}

.hero {
  img {
    width: 100%;
  }
}

.h2-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    background-color: $background-color;
    padding: 15px 80px;
  }
}

.column-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  article {
    flex-grow: 1;
    max-width: 20%;
    margin: 0 3.3%;
  }
  img {
    width: 100%;
  }
}

.email-flex {
  display: flex;
  input {
    margin: 0 10px;
    width: 75%;
    padding: 5px;
    font-size: 18px;
  }

  button {
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    font-size: 1.5vw;
    color: black;
    &:hover {
      opacity: 0.7;
    }
  }
}

p {
  margin: 0 0 0 25px;
  font-size: 14px;
  font-weight: lighter;
}

/* Media Queries */

@media screen and (max-width: 820px) {
  .column-flex {
    flex-wrap: wrap;
    justify-content: center;
    article {
      flex-basis: calc(50% - 100px);
      max-width: 250px;
    }
  }
  .email-flex {
    button {
      text-align: center;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 432px) {
  nav {
    display: flex;
    justify-content: center;
    a {
      text-align: center;
      margin: 12px 2px;
      font-size: 12px;
    }
  }
  .column-flex {
    flex-direction: column;
    align-items: center;
  }
  .email-flex {
    display: flex;
    flex-direction: column;
    button {
      font-size: 12px;
      width: 40%;
      margin: 5px 0 0 10px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .email-flex {
    button {
      font-size: 18px;
    }
  }
}
